<div class="container">
	<div class="row mt centered">
		<div class = "col-lg-8 col-lg-offset-2">
			<h1>Adopt A Friend</h1>
			<p class="lead">
				All of our kitties are in loving foster homes.  You can contact the foster family by visiting the Facebook page listed on each cat, or you can e-mail our application coordinator at <a href="mailto:Crystal.coan@yahoo.com">Crystal.coan@yahoo.com</a>.</p>
			<p class="lead">All of our cats have been spayed/neutered, have the age-appropriate shots, and have been 	FeLeuk/FIV tested. The adoption fee of $50 will help cover some of these costs.
				If you have any questions, please do not hesitate to contact us.</p>
				<br/>
				<a class="btn btn-lg btn-primary" href="https://www.petfinder.com/pet-search?shelterid=IL809">View Our Available Pets</a>
			</div>
		</div>
	</div>
	<div class="container">
		<hr/>
	</div>
<div class="container">
		<div class="row mt centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h1>About Us</h1>
				<p class="lead">
					We are just some kitty-loving ladies (and a gentleman) who are doing our part to help cats who have somehow been, through no fault of their own, left behind.  It is our goal to be a temporary, loving transition to their way to a forever home.
				</p>
			</div>
		</div><!-- /row -->
		<hr/>
		<div class="row mt centered">
			<h1>Our Foster Homes</h1>
			<h3>TLC Foster Kitties is a foster-based cat rescue. <br/>We currently have two foster homes in the Central Illinois area.</h3>
			<div class="col-lg-4 col-lg-offset-2">
				<a href="https://www.facebook.com/Crazycatladiesfosterkitties">
					<i class="fa fa-facebook-square fa-5x"></i>
				</a>
				<br/>
				<h4>TLC</h4>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<a href="https://www.facebook.com/AuntieTandaHouseFullofFur">
					<i class="fa fa-facebook-square fa-5x"></i>
				</a>
				<br/>
				<h4>Auntie T<br/>and a House Full Of Fur</h4>
			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	<div class="container">
		<hr/>
	</div>